.filter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
        margin-left: 0.25rem;

    h1 {
        font-weight: 300;
        font-size: 16px;
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 1px;

        label {
            font-size: 10px;
        }

        input,
        select {
            width: 100px;
            padding: 1rem;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            font-size: 14px;
        }
    }

    .top {
        input {
            width: 90%;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        button {
            width: max-content;
                padding: 1rem;
            border: none;
            cursor: pointer;
            background-color: #fece51;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}